@model RazorComponents.SampleModels.Address

<div>
    <label asp-for="Street"></label>
    <input asp-for="Street" />
</div>
<div>
    <label asp-for="City"></label>
    <input asp-for="City" />
</div>
<div>
    <label asp-for="State"></label>
    <input asp-for="State" />
</div>
<div>
    <label asp-for="Code"></label>
    <input asp-for="Code" />
</div>
