@model RazorComponents.SampleModels.Address

<div class="address-card">
    <div class="address-card-body">
        <div class="address-form-group ">
            
            <display asp-for="Street" label-class="address-label" display-class="address-plaintext"></display>
            <span asp-validation-for="Street" class="address-validation"></span>
        </div>
        <div class="address-form-row">
            <div class="address-form-group address-col-md-6">
                <display 
                    asp-for="City" 
                    label-class="address-label" 
                    display-class="address-plaintext"
                     ></display>
                <span asp-validation-for="City" class="address-validation"></span>
            </div>
            <div class="address-form-group address-col-md-3">
                <display asp-for="State" label-class="address-label" display-class="address-plaintext"></display>
                <span asp-validation-for="State" class="address-validation"></span>
            </div>
            <div class="address-form-group address-col-md-3">
                <display asp-for="Code" label-class="address-label" display-class="address-plaintext"></display>
                <span asp-validation-for="Code" class="address-validation"></span>
            </div>
        </div>
    </div>
</div>
